[user]
	name = Joseph Ravenwolfe
	email = joseph@ravenwolfe.io
[color]
	diff = auto
	status = auto
	branch = auto
[color "status"]
	added = green
	changed = yellow
	untracked = cyan
	removed = red bold
[core]
	quotepath = false
[github]
	user = joseph-ravenwolfe
[merge]
	conflictstyle = diff3
[mergetool]
	keepBackup = true
[diff]
	prompt = false
[difftool]
	prompt = false
[push]
	default = simple
